<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="DRAAAVO: Small application for item set generation"/>
        <meta name="keywords" content="item sets, riot api challenge, smart item set generation"/>
        <meta name="author" content="Ready for Summer(EUW), NeudAectann(EUW)"/>

        <link rel="stylesheet" type="text/css" href="css/main-page.css"/>

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>

        <script src="js/main-page.js"></script>

        <title>DRAAAVO!</title>    
    </head>

    <body ng-app="draaavoApp">
        <div class="container" ng-controller="MainController">
			<header>
                <!-- title -->
				<h1>DRAAAVO!<span>Draaavo does it all ... with style.</span></h1>

                <!-- login/signup -->
                <div class="login-signup">
                    <img src = "img/logo.png"/>

                    <div id = "login-controls">
                        <p>Helpfull smart item sets for ARAM.<p>

                        <button class="button button-login" ng-click="changeView('/login')">Login</button>
                        <button class="button button-signup"ng-click="changeView('/signup')">Signup</button>
                    </div>
                </div>
                
                <!-- navigation menu -->
                <div class="color-8">
                    <nav class="cl-effect-7">
                        <a href="#whydraaavo"    du-smooth-scroll du-scrollspy>Why DRAAAVO?</a>
                        <a href="#features"      du-smooth-scroll du-scrollspy>Features</a>
                        <a href="#terms-of-use"  du-smooth-scroll du-scrollspy>Terms of Use</a>
                        <a href="#presentation"  du-smooth-scroll du-scrollspy>Presentation</a>
                        <a href="#about-authors" du-smooth-scroll du-scrollspy>About Authors</a>
                    </nav>
                </div>
            </header>

            <!-- why DRAAAVO, why? -->
            <section id="whydraaavo">
                <div>
                    <h2>Why DRAAAVO!?</h2>
                </div>
            </section>

            <!-- features -->
            <section id="features">
                <h2>Features</h2>
            </section>

            <!-- terms of use -->
            <section id="terms-of-use">
                <h2>Terms of use</h2>
            </section>

            <!-- presentation -->
            <section id="presentation">
                <h2>Presentation</h2>
            </section>

            <!-- about authors -->
            <section id="about-authors">
                <h2>Authors</h2>
            </section>

            <!-- footer with back to top button -->
            <footer>
                <button ng-click="toTheTop()">Take me back!</button>
            </footer>
        </div>
    </body>
</html>
