// colors are here

$menuColor:                 #566473;
$bodyColor:                 #ecf0f1;
$headerColor: 	            #89867e;

$loginButtonColor:          #2bdc33;
$loginButtonHoverColor:     #23b32a;

$signupButtonColor:         #ff5747;
$signupButtonHoverColor:    #cb4539;
