@import "_mixins.scss";

$bodyBackgroudColor: #e7ecea;
$bodyColor:          #74777b;
$headerSpanColor:    #bdc2c9;

body {
	background: $bodyBackgroudColor;
	color:      $bodyColor;

	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

.landing-page-header {
	padding: 7em 0 3em;
	letter-spacing: -1px;

    h1 {
        max-width: 1200px;
        margin: 0 auto;
        font-weight: 800;
        font-size: 5em;
        line-height: 1;

        span {
            display: block;
            font-size: 50%;
            font-weight: 400;
            padding-top: 0.325em;
            color: $headerSpanColor;
        }
    }
}

.landing-page-footer {
	letter-spacing: -1px;
	margin: 0 auto;
	padding-left: 45%;
}
